<% if @course.thumbnail.attached? %>
  <%= image_tag @course.thumbnail.variant(resize_to_limit: [300, 300]), alt: "Course Thumbnail" %>
<% else %>
  <p>No thumbnail available</p>
<% end %>

<h1><%= @course.title %></h1>

<p><%= @course.description %></p>

<p>Price: <%= number_to_currency(@course.price) %></p>

<% if @course.lessons.any? %>
  <h2>Lessons</h2>
  <ul>
    <% @course.lessons.order(:position).each do |lesson| %>
      <li>
        <strong><%= lesson.title %></strong><br>
        <%= lesson.content %>
      </li>
    <% end %>
  </ul>
<% end %>
